a {
  text-decoration: none;
}

body {
  background-color: #F3E0B5;
  margin: 0;
  color: rgb(40, 40, 40);
}

.header {
  padding: 24px;
  background-color: #FECD70;
}

.title {
  font-size: 102;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;

  background-color: #FFAE6D;
}

.footer a {
  color: black;
}
