:root {
  --colour1: #222831;
  --colour2: #393E46;
  --colour3: #00ADB5;
  --colour4: #EEEEEE;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--colour2);
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
}
/* header */

.header {
  padding: 12px;
  background-color: var(--colour3);
}

.title {
  text-align: center;
  margin: 6px;
  color: var(--colour4);
  font-size: 4rem;
}

/* main  */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 96px;
  color: var(--colour4);
}

.message {
  font-size: 3rem;
  margin: 12px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(24rem + 4px);
  height: calc(24rem + 4px);
  margin: 0 auto;
  border: 2px solid darkgrey;
}

.square {
  width: 8rem;
  height: 8rem;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 8rem;
  cursor: pointer;
}

.square:hover {
  background-color: var(--colour3);
}

.restart {
  padding: 12px 24px;
  background-color: var(--colour3);
  margin-top: 12px;
  border: none;
  border-radius: 5%;
  color: var(--colour4);
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

.restart:hover {
  background-color: var(--colour1);

}

.restart:active {
  background-color: var(--colour3);
  color: var(--colour4);
}

/* footer  */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  color: var(--colour4);
  background-color: var(--colour1);
}

.footer a {
  color: var(--colour4);
}
