a {
  text-decoration: none;
}

body {
  background-color: #F3E0B5;
  margin: 0;
  color: rgb(40, 40, 40);
}

/* header */

.header {
  padding: 24px;
  background-color: #FECD70;
}

.title {
  text-align: center;
}

/* main  */

.main {
  padding: 24px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(24rem + 4px);
  height: calc(24rem + 4px);
  margin: 0 auto;
  border: 2px solid darkgrey;
}

.square {
  width: 8rem;
  height: 8rem;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 8rem;
}

.square:hover {
  background-color: #FECD70;
}

/* footer  */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;

  background-color: #FFAE6D;
}

.footer a {
  color: black;
}
